{% extends 'layout.html.j2' %}
  {% block back %}
  {% endblock %}
{% block title %}
Short10
{% endblock %}

{% block header %}
<h1 class="title-index">Welcome to Short10!</h1>
<hr class="separator"/>
<br />
{% endblock %}

{% block body %}
<h2 class="subtitle-index">Please enter the url to shorten:</h2>
<br />
<form action="{{ api_url }}" method="post" onsubmit="return checkvalue(this)">
  <input class="form-control" name="url_long" type="text" id="urlLong" required/>
  <button class="btn btn-block btn-lg btn-default btn-blue" >Shorten url</button>
</form>
<br />

{% if short_url %}
  <p class="text-centered">
    <b>Here is your short url: </b>
    <a class="subtitle-index" href="http://{{ short_url }}" id="shortUrl">{{ short_url }}</a>
    &nbsp;
    <button class="btn btn-primary" onclick="copyToClipboard('#shortUrl')"> Copy </button>
  </p>
{% endif %}

{% endblock %}
{% block scripts %}
<script src="/static/js/index.js"></script>
{% endblock %}
